In [2]:
import pandas as pd
import numpy as np

excel_file ='C:\\Users\\nalla_enejoi3\\OneDrive\Desktop\\fda project\\SuperStore.xlsx' 
df = pd.read_excel(excel_file)
print(df)

#DATA CLEANING


#to print 1st few rows
print(df.head())
#to print last few rows
print(df.tail())

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\nalla_enejoi3\AppData\Local\Temp\ipykernel_18800\2478429592.py:4: SyntaxWarning: invalid escape sequence '\D'
  excel_file ='C:\\Users\\nalla_enejoi3\\OneDrive\Desktop\\fda project\\SuperStore.xlsx'

      Row ID+O6G3A1:R6        Order ID Order Date  Ship Date       Ship Mode  \
0                 4918  CA-2019-160304 2019-01-01 2019-01-07  Standard Class
1                 4919  CA-2019-160304 2019-01-02 2019-01-07  Standard Class
2                 4920  CA-2019-160304 2019-01-02 2019-01-07  Standard Class
3                 2898  US-2019-164630 2019-01-04 2019-01-09  Standard Class
4                 5868  CA-2019-158211 2019-01-04 2019-01-08  Standard Class
...                ...             ...        ...        ...             ...
5896              8604  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5897              8605  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5898              8606  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5899              9494  CA-2019-105207 2019-01-03 2019-01-08  Standard Class
5900              9495  CA-2019-105207 2019-01-03 2019-01-08  Standard Class

     Customer ID      Customer Name    Segment        Country          City  \
0       BM-11575      Brendan Murry  Corporate  United States  Gaithersburg
1       BM-11575      Brendan Murry  Corporate  United States  Gaithersburg
2       BM-11575      Brendan Murry  Corporate  United States  Gaithersburg
3       EB-13975         Erica Bern  Corporate  United States     Charlotte
4       BP-11185       Ben Peterman  Corporate  United States  Philadelphia
...          ...                ...        ...            ...           ...
5896    CA-12310  Christine Abelman  Corporate  United States   San Antonio
5897    CA-12310  Christine Abelman  Corporate  United States   San Antonio
5898    CA-12310  Christine Abelman  Corporate  United States   San Antonio
5899    BO-11350      Bill Overfelt  Corporate  United States  Broken Arrow
5900    BO-11350      Bill Overfelt  Corporate  United States  Broken Arrow

               State   Region       Product ID         Category Sub-Category  \
0           Maryland        E  FUR-BO-10004709        Furniture    Bookcases
1           Maryland     East  FUR-BO-10004709        Furniture    Bookcases
2           Maryland     East  TEC-PH-10000455       Technology       Phones
3     North Carolina        S  TEC-CO-10000971       Technology      Copiers
4       Pennsylvania     East  OFF-AR-10004078  Office Supplies          Art
...              ...      ...              ...              ...          ...
5896           Texas        C  TEC-AC-10002217       Technology  Accessories
5897           Texas  Central  TEC-AC-10002942       Technology  Accessories
5898           Texas  Central  TEC-PH-10002890       Technology       Phones
5899        Oklahoma        C  FUR-TA-10000617        Furniture       Tables
5900        Oklahoma  Central  OFF-BI-10004364  Office Supplies      Binders

                                           Product Name     Sales Quantity  \
0     Bush Westfield Collection Bookcases, Medium Ch...    73.940      One
1     Bush Westfield Collection Bookcases, Medium Ch...   173.940        3
2                                           GE 30522EE2       NaN      Two
3              Hewlett Packard 310 Color Digital Copier   959.968        4
4                                            Newell 312     4.672        1
...                                                 ...       ...      ...
5896                Imation Clip USB flash drive - 8 GB    30.080        2
5897  WD My Passport Ultra 1TB Portable External Har...       NaN    Three
5898                      AT&T 17929 Lendline Telephone   180.960        5
5899  Hon Practical Foundations 30 x 60 Training Tab...  1592.850        7
5900                            Storex Dura Pro Binders       NaN        2

        Profit Payment Mode
0      28.2668       Online
1      38.2668       Online
2      67.2742        Cards
3     119.9960       Online
4       0.5840       Online
...        ...          ...
5896   -5.2640       Online
5897   -6.2100       Online
5898   13.5720        Cards
5899  350.4270          COD
5900    5.3460          COD

[5901 rows x 20 columns]
   Row ID+O6G3A1:R6        Order ID Order Date  Ship Date       Ship Mode  \
0              4918  CA-2019-160304 2019-01-01 2019-01-07  Standard Class
1              4919  CA-2019-160304 2019-01-02 2019-01-07  Standard Class
2              4920  CA-2019-160304 2019-01-02 2019-01-07  Standard Class
3              2898  US-2019-164630 2019-01-04 2019-01-09  Standard Class
4              5868  CA-2019-158211 2019-01-04 2019-01-08  Standard Class

  Customer ID  Customer Name    Segment        Country          City  \
0    BM-11575  Brendan Murry  Corporate  United States  Gaithersburg
1    BM-11575  Brendan Murry  Corporate  United States  Gaithersburg
2    BM-11575  Brendan Murry  Corporate  United States  Gaithersburg
3    EB-13975     Erica Bern  Corporate  United States     Charlotte
4    BP-11185   Ben Peterman  Corporate  United States  Philadelphia

            State Region       Product ID         Category Sub-Category  \
0        Maryland      E  FUR-BO-10004709        Furniture    Bookcases
1        Maryland   East  FUR-BO-10004709        Furniture    Bookcases
2        Maryland   East  TEC-PH-10000455       Technology       Phones
3  North Carolina      S  TEC-CO-10000971       Technology      Copiers
4    Pennsylvania   East  OFF-AR-10004078  Office Supplies          Art

                                        Product Name    Sales Quantity  \
0  Bush Westfield Collection Bookcases, Medium Ch...   73.940      One
1  Bush Westfield Collection Bookcases, Medium Ch...  173.940        3
2                                        GE 30522EE2      NaN      Two
3           Hewlett Packard 310 Color Digital Copier  959.968        4
4                                         Newell 312    4.672        1

     Profit Payment Mode
0   28.2668       Online
1   38.2668       Online
2   67.2742        Cards
3  119.9960       Online
4    0.5840       Online
      Row ID+O6G3A1:R6        Order ID Order Date  Ship Date       Ship Mode  \
5896              8604  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5897              8605  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5898              8606  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5899              9494  CA-2019-105207 2019-01-03 2019-01-08  Standard Class
5900              9495  CA-2019-105207 2019-01-03 2019-01-08  Standard Class

     Customer ID      Customer Name    Segment        Country          City  \
5896    CA-12310  Christine Abelman  Corporate  United States   San Antonio
5897    CA-12310  Christine Abelman  Corporate  United States   San Antonio
5898    CA-12310  Christine Abelman  Corporate  United States   San Antonio
5899    BO-11350      Bill Overfelt  Corporate  United States  Broken Arrow
5900    BO-11350      Bill Overfelt  Corporate  United States  Broken Arrow

         State   Region       Product ID         Category Sub-Category  \
5896     Texas        C  TEC-AC-10002217       Technology  Accessories
5897     Texas  Central  TEC-AC-10002942       Technology  Accessories
5898     Texas  Central  TEC-PH-10002890       Technology       Phones
5899  Oklahoma        C  FUR-TA-10000617        Furniture       Tables
5900  Oklahoma  Central  OFF-BI-10004364  Office Supplies      Binders

                                           Product Name    Sales Quantity  \
5896                Imation Clip USB flash drive - 8 GB    30.08        2
5897  WD My Passport Ultra 1TB Portable External Har...      NaN    Three
5898                      AT&T 17929 Lendline Telephone   180.96        5
5899  Hon Practical Foundations 30 x 60 Training Tab...  1592.85        7
5900                            Storex Dura Pro Binders      NaN        2

       Profit Payment Mode
5896   -5.264       Online
5897   -6.210       Online
5898   13.572        Cards
5899  350.427          COD
5900    5.346          COD

In [3]:
#Removing if any duplicates are present
print(df.duplicated())
duplicates = df[df.duplicated()]
print(duplicates)
#i.e. no duplicated rows are present in the dataset(empty dataframe)
print(duplicates.value_counts())

0       False
1       False
2       False
3       False
4       False
        ...
5896    False
5897    False
5898    False
5899    False
5900    False
Length: 5901, dtype: bool
Empty DataFrame
Columns: [Row ID+O6G3A1:R6, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Profit, Payment Mode]
Index: []
Series([], Name: count, dtype: int64)

In [4]:
# To print the first few elements of the 'Region' column
print(df['Region'].head())
# To print the last few elements of the 'Region' column
print(df['Region'].tail())


# Mapping dictionary for abbreviation to full name
region_mapping = {"E": "East", "S": "South", "C": "Central", "W": "West"}

# Iterate through each row in the 'Region' column
for i in range(len(df)):
    if df['Region'][i] in region_mapping:
        df.at[i, 'Region'] = region_mapping[df['Region'][i]]

# To print the first few elements of the updated 'Region' column
print(df['Region'].head())
# To print the last few elements of the updated 'Region' column
print(df['Region'].tail())

#to print updated 'Region' column
print(df['Region'])

0       E
1    East
2    East
3       S
4    East
Name: Region, dtype: object
5896          C
5897    Central
5898    Central
5899          C
5900    Central
Name: Region, dtype: object
0     East
1     East
2     East
3    South
4     East
Name: Region, dtype: object
5896    Central
5897    Central
5898    Central
5899    Central
5900    Central
Name: Region, dtype: object
0          East
1          East
2          East
3         South
4          East
         ...
5896    Central
5897    Central
5898    Central
5899    Central
5900    Central
Name: Region, Length: 5901, dtype: object

In [5]:
# To print the first few elements of the 'Quantity' column
print(df['Quantity'].head())
# To print the first few elements of the 'Quantity' column
print(df['Quantity'].tail())

quantity = ["One", "Two", "Three", "Four", "Five", "Six", "Seven", "Eight", "Nine", "Ten"]

# Iterate through each row in the 'Quantity' column
for i in range(len(df)):
    if df['Quantity'][i] in quantity:
        # Find the index of the quantity in the list and add 1 to get the numeric value
        df.at[i, 'Quantity'] = str(quantity.index(df['Quantity'][i]) + 1)

# To print the first few elements of the updated 'Quantity' column
print(df['Quantity'].head())
# To print the first few elements of the updated 'Quantity' column
print(df['Quantity'].tail())

# coverting 'Quantity' values to integer datatype
df['Quantity'] = df['Quantity'].astype(int)

0    One
1      3
2    Two
3      4
4      1
Name: Quantity, dtype: object
5896        2
5897    Three
5898        5
5899        7
5900        2
Name: Quantity, dtype: object
0    1
1    3
2    2
3    4
4    1
Name: Quantity, dtype: object
5896    2
5897    3
5898    5
5899    7
5900    2
Name: Quantity, dtype: object

In [6]:
#To print the first few elements of the 'Sales' column
print(df['Sales'].head())
#To print the last few elements of the 'Sales' column
print(df['Sales'].tail())

# checking if NA values are present in 'Sales' column or not.
missing_values = df['Sales'].isna()
print(missing_values)
# counting total no of NAs
missing_sales_sum = df['Sales'].isna().sum()
print(missing_sales_sum)

# filling NA values with mean of the 'Sales' column
mean_sales = df['Sales'].mean(skipna=True)
df['Sales'].fillna(mean_sales, inplace=True)

print(df['Sales'].head())
print(df['Sales'].tail())

0     73.940
1    173.940
2        NaN
3    959.968
4      4.672
Name: Sales, dtype: float64
5896      30.08
5897        NaN
5898     180.96
5899    1592.85
5900        NaN
Name: Sales, dtype: float64
0       False
1       False
2        True
3       False
4       False
        ...
5896    False
5897     True
5898    False
5899    False
5900     True
Name: Sales, Length: 5901, dtype: bool
24
0     73.940000
1    173.940000
2    265.097916
3    959.968000
4      4.672000
Name: Sales, dtype: float64
5896      30.080000
5897     265.097916
5898     180.960000
5899    1592.850000
5900     265.097916
Name: Sales, dtype: float64

In [7]:
print(df['Order Date'])
any_missing = df.isna().any().any()
print(any_missing)
number_of_na = df.isna().values.sum()

if number_of_na > 0:
    df = df.dropna()
    
any_missing_after_removal = df.isna().any().any()
print(any_missing_after_removal)
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%m-%d-%Y')
# Sort the DataFrame by the 'Order.Date' column in ascending order
df.sort_values(by='Order Date', inplace=True)
print(df['Order Date'])

0      2019-01-01
1      2019-01-02
2      2019-01-02
3      2019-01-04
4      2019-01-04
          ...
5896   2019-01-03
5897   2019-01-03
5898   2019-01-03
5899   2019-01-03
5900   2019-01-03
Name: Order Date, Length: 5901, dtype: datetime64[ns]
False
False
0      2019-01-01
1      2019-01-02
2      2019-01-02
5898   2019-01-03
5897   2019-01-03
          ...
5891   2020-12-30
5892   2020-12-30
5893   2020-12-30
5888   2020-12-30
5894   2020-12-31
Name: Order Date, Length: 5901, dtype: datetime64[ns]

In [8]:
# encoding categorical variable:Payment mode
category=df['Payment Mode'].value_counts()
print(category)

payment_method={'COD':'1','Online':'2','Cards':'3'}

# Iterate through each row in the 'Region' column
for i in range(len(df)):
    if df['Payment Mode'][i] in payment_method:
        df.at[i, 'Payment Mode'] = payment_method[df['Payment Mode'][i]]

df['Payment Mode'] = pd.to_numeric(df['Payment Mode'])

print(df['Payment Mode'])

Payment Mode
COD       2453
Online    2164
Cards     1284
Name: count, dtype: int64
0       2
1       2
2       3
5898    3
5897    2
       ..
5891    2
5892    2
5893    1
5888    1
5894    1
Name: Payment Mode, Length: 5901, dtype: int64

In [9]:
category1=df['Ship Mode'].value_counts()
print(category1)

category2=df['Segment'].value_counts()
print(category2)

category3=df['Category'].value_counts()
print(category3)

Ship Mode
Standard Class    3451
Second Class      1147
First Class        959
Same Day           344
Name: count, dtype: int64
Segment
Consumer       2997
Corporate      1774
Home Office    1130
Name: count, dtype: int64
Category
Office Supplies    3569
Furniture          1249
Technology         1083
Name: count, dtype: int64

In [10]:
#printing dataframe after complete data cleaning
print(df)

      Row ID+O6G3A1:R6        Order ID Order Date  Ship Date       Ship Mode  \
0                 4918  CA-2019-160304 2019-01-01 2019-01-07  Standard Class
1                 4919  CA-2019-160304 2019-01-02 2019-01-07  Standard Class
2                 4920  CA-2019-160304 2019-01-02 2019-01-07  Standard Class
5898              8606  US-2019-116365 2019-01-03 2019-01-08  Standard Class
5897              8605  US-2019-116365 2019-01-03 2019-01-08  Standard Class
...                ...             ...        ...        ...             ...
5891              1297  CA-2020-115427 2020-12-30 2021-01-03  Standard Class
5892              5092  CA-2020-156720 2020-12-30 2021-01-03  Standard Class
5893               909  CA-2020-143259 2020-12-30 2021-01-03  Standard Class
5888               646  CA-2020-126221 2020-12-30 2021-01-05  Standard Class
5894              5093  CA-2020-151450 2020-12-31 2021-01-04  Standard Class

     Customer ID      Customer Name      Segment        Country  \
0       BM-11575      Brendan Murry    Corporate  United States
1       BM-11575      Brendan Murry    Corporate  United States
2       BM-11575      Brendan Murry    Corporate  United States
5898    CA-12310  Christine Abelman    Corporate  United States
5897    CA-12310  Christine Abelman    Corporate  United States
...          ...                ...          ...            ...
5891    EB-13975         Erica Bern    Corporate  United States
5892    JM-15580      Jill Matthias     Consumer  United States
5893    PO-18865  Patrick O'Donnell     Consumer  United States
5888    CC-12430        Chuck Clark  Home Office  United States
5894    JM-15580      Jill Matthias     Consumer  United States

               City       State   Region       Product ID         Category  \
0      Gaithersburg    Maryland     East  FUR-BO-10004709        Furniture
1      Gaithersburg    Maryland     East  FUR-BO-10004709        Furniture
2      Gaithersburg    Maryland     East  TEC-PH-10000455       Technology
5898    San Antonio       Texas  Central  TEC-PH-10002890       Technology
5897    San Antonio       Texas  Central  TEC-AC-10002942       Technology
...             ...         ...      ...              ...              ...
5891      Fairfield  California     West  OFF-BI-10002103  Office Supplies
5892       Loveland    Colorado     West  OFF-FA-10003472  Office Supplies
5893  New York City    New York     East  OFF-BI-10003684  Office Supplies
5888       Columbus     Indiana  Central  OFF-AP-10002457  Office Supplies
5894       Loveland    Colorado     West  OFF-FA-10003472  Office Supplies

     Sub-Category                                       Product Name  \
0       Bookcases  Bush Westfield Collection Bookcases, Medium Ch...
1       Bookcases  Bush Westfield Collection Bookcases, Medium Ch...
2          Phones                                        GE 30522EE2
5898       Phones                      AT&T 17929 Lendline Telephone
5897  Accessories  WD My Passport Ultra 1TB Portable External Har...
...           ...                                                ...
5891      Binders    Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl
5892    Fasteners                                Bagged Rubber Bands
5893      Binders               Wilson Jones Legal Size Ring Binders
5888   Appliances  Eureka The Boss Plus 12-Amp Hard Box Upright V...
5894    Fasteners                                Bagged Rubber Bands

            Sales  Quantity   Profit  Payment Mode
0       73.940000         1  28.2668             2
1      173.940000         3  38.2668             2
2      265.097916         2  67.2742             3
5898   180.960000         5  13.5720             3
5897   265.097916         3  -6.2100             2
...           ...       ...      ...           ...
5891   295.904000         2   4.5188             2
5892   388.024000         3  -0.6048             2
5893   462.776000         3  19.7910             1
5888   509.300000         2  56.5110             1
5894  2975.510000         3  -0.6048             1

[5901 rows x 20 columns]